body {
    background-color: #ede1ff;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #6a0dad;
  }
  
  .recipe {
    margin-bottom: 20px;
  }
  
  .recipe-title {
    background-color: #b694ee;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .recipe-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
  }
  ul{
      list-style: circle;
  }